# Standard ignores
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage

# Ignore gem stuff
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# No .DS_Store
.DS_Store

# Ignore the coveralls config
.coveralls.yml
